@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.home {
  width: 100%;
  height: 100vh;
  background-color: #3a3838;
  background-size: cover;
  background-position: center;
  position: relative;
  color: rgb(255, 255, 255);
}

.home-content {
  position: absolute;
  top: 220px;
  left: 50px;

}

.home-content h1 {
  font-family: 'Anton', sans-serif;
  font-size: 90px;   
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.home-content p {
  font-family: 'Anton', sans-serif;
  font-style: italic;
  max-width: 450px;
  font-size: 35px;  
  line-height: 1.6;
   margin-left: 80px;
}

.titulo-gym {
  display: flex;
  align-items: center;
  gap: 12px; 
  font-family: 'Anton', sans-serif;
}

.titulo-gym img {
  height: 2em;       
  width: auto;
}


/*navbar*/
.navbar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 50;
}

.menu-btn {
  font-size: 32px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/*barra de menu*/
.menu-overlay {
  position: absolute;
  top: 32px;           
  right: 45px;
  width: 260px;
  background: rgba(120, 50, 60, 0.95);
  padding: 20px;
  border-radius: 6px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.menu-overlay ul {
  list-style: none;
  margin-top: 60px;
}

.menu-overlay li {
  margin-bottom: 15px;
}

.menu-overlay button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background: #9b4b55;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/*Contacto*/
.contacto-fixed {
  position: absolute;
  bottom: 40px;
  right: 50px;
  text-align: right;
  color: white;
}

.contacto-fixed p {
  font-family: 'Anton', sans-serif;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 10px;
  margin-right: 40px;
}

.contacto-iconos a {
  font-size: 70px;   
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.contacto-iconos a:hover {
  transform: scale(1.2);
  color: #b3091a; 
}
.btn-inicio {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 10px 18px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.btn-inicio:hover {
  background: #f2f2f2;
}

.error-page {
  min-height: 100vh;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.error-page h1 {
  font-size: 6rem;
  margin: 0;
  color: #b23a48;
}

.error-page h2 {
  margin: 10px 0;
}

.error-page p {
  max-width: 400px;
  margin-bottom: 20px;
}
