name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar dependencias frontend
        working-directory: ./frontend
        run: npm install

      - name: Ejecutar análisis estático (lint)
        working-directory: ./frontend
        run: npm run lint

      - name: Build del frontend
        working-directory: ./frontend
        run: npm run build

      - name: Configurar Docker
        uses: docker/setup-buildx-action@v2

      - name: Construir imagen Docker
        run: docker build -t mi_app .

      - name: Probar contenedor
        run: docker run --rm mi_app node --version
