name: CI 

on:
  push:
    branches: [ "main" ]   
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Configurar Docker
        uses: docker/setup-buildx-action@v2

      - name: Construir imagen Docker
        run: docker build -t mi_app .

      - name: Probar contenedor
        run: docker run --rm mi_app node --version
